<%- include( "./partials/header") %>
<%- include("./partials/navbar") %> 

<style>
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
</style>

<div class="container"> 
     <% if(err){ %> 
     <a href="/login" class="loga"> <h1 style="color: red;"> <%= err %> </h1> </a>   
     <% } %> 
     <% blogs.reverse(); %> 
    <% blogs.forEach((allblog) =>{ %>
    <div class="main"> 
        <div class="box1"> 
            
            <h1 class="title"><%= allblog.title %></h1>
            <p class="date"> <sup><%= allblog.createdAt %></sup></p> 
        </div>
            <p class="content"><%= allblog.content %></p>
        <div class="btns">
            <a href="/<%= allblog._id %>/like" class="like">Like</a>  
            <a href="/<%= allblog._id %>/edit" class="edit">Edit</a>
            <a href="/<%= allblog._id %>/delete" class="delete">Delete</a>
        </div>
    </div>
        <% }); %>     
     

     </div>    
</div>

<style> 
   .loga{
       max-width: initial;
   }
    body{
        background-color: #F8fbf8;
    }
    .container{
        margin-top: 55px;
        border-bottom: 2px solid gray;
        box-shadow: 5px 5px 5px lightslategray ;
    }
    .box1 {
        display: flex;
    }
    .date{
        margin-left: auto;
        margin-right: .2rem;
        
    }
    .main{
        margin-bottom: .5rem;   
        margin-left: -8px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem ;
        margin-bottom: 1rem;
        border-bottom: 5px solid rgb(65,105,225); ;
        
    }
    .content{
        font-size: larger;
        font-family: 'Indie Flower', cursive;
        
    }
    .title{
        font-family: 'Indie Flower', cursive ; 
         margin-bottom: .5rem;
    
    }
    a {
        text-decoration: none;
        display: block !important;
        max-width: 4rem;
        height: 2.1rem;
        margin-right: .3rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 4px;
        color: white;
        min-width: 4rem;
    }
    .delete{
        background: tomato;
    
    }
    .like{
        background: rgb(65,105,225);
    }
    .edit{
        color: gray;
        background: yellow;
    }
    .btns {
        display: flex;
    }
   </style>
<%- include( "./partials/footer") %> 