<%- include( "./partials/header") %>
<%- include("./partials/navbar") %> 

<style>
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
</style>

<div class="container"> 
    <div class="main"> 
        <div class="box1"> 
            
            <h1 class="title"><%= blog.title %></h1>
            <p class="date"> <sup><%= blog.createdAt %></sup></p> 
        </div>
             
            <p class="content"><%= blog.content %>  </p>
        <div class="btns">
            <a href="/<%= blog._id %>/like" class="like"><%= blog.like.length %> Like</a>  
            <a href="/<%= blog._id %>/edit" class="edit">Edit</a>
            <a href="/<%= blog._id %>/delete" class="delete">Delete</a>
        </div>
        <div class="cmdiv">
         <h2>Comments</h2>
        <% blog.comment.forEach((cmt)=> { %> 
            <div > <p class="cm"><%= cmt.content %> <sup class="sup"> <span>author :</span> <%= cmt.author %> </sup></p></div>
        <% }) %> 
       </div>
    </div>
    <form action="/<%= blog._id %>/comment" method="POST">
    <input type="text" name="comment"  placeholder="type.. comment">
    <input type="submit" placeholder="Post">
    </form>
        
     </div>    
</div>


<style> 
span{
    color:black;
}
.sup{
    float: right;
    margin-top: -4px;
}
.cm{
     padding-top: 2px;
     padding-bottom: 2px;
    color: rgb(65,105,225);
    border: seashell;
    border-style: dashed;
    border-radius: 3px;
    border-color: rgb(65,105,225);
    font-size: x-large;
}
   .loga{
       max-width: initial;
   }
   .readmore{
       color: rgb(65,105,225);
       max-width: 300px;
       display: inline !important;

   }
    body{
        background-color: #F8fbf8;
    }
    .container{
        margin-top: 55px;
        border-bottom: 2px solid gray;
        box-shadow: 5px 5px 5px lightslategray ;
    }
    .box1 {
        display: flex;
    }
    .date{
        margin-left: auto;
        margin-right: .2rem;
        
    }
    .main{
        margin-bottom: .5rem;   
        margin-left: -8px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem ;
        margin-bottom: 1rem;
        
    }
    .content{
        font-size: larger;
        font-family: 'Indie Flower', cursive;
        
    }
    .title{
        font-family: 'Indie Flower', cursive ; 
         margin-bottom: .5rem;
    
    }
    a {
        text-decoration: none;
        display: block !important;
        max-width: 4rem;
        height: 2.1rem;
        margin-right: .3rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 4px;
        color: white;
        min-width: 4rem;
    }
    .delete{
        background: tomato;
    
    }
    .like{
        background: rgb(65,105,225);
    }
    .edit{
        color: gray;
        background: yellow;
    }
    .btns {
        display: flex;
    }
   </style>
<%- include( "./partials/footer") %> 